.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    height: 70px;
    justify-content: space-around;
    padding: 50px;
}

.header-logo img {
    width: 70px;
    height: 70px;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 40px
}

.hero-section {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    justify-content: center;
    padding: 100px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    flex-basis: 400px;
}

.hero-left h1 {
    color: #f9faf8;
    font-weight: 48px bolder;
}

.hero-left p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-right img {
    height: 300px;
    width: 500px;
}

.hero-left button {
    background-color: #3882f6;
    color: #fff;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}

.characters h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
}

.characters-list {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.characters-list img {
    height: 200px;
    width: 200px;
    border: 5px solid #1F2937;
}

.characters {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0px 200px;
}

.quote p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.quote b {
    text-align: right;
    padding-right: 50px;
    font-size: 25px;
}
